<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>INFOMVIS2022 - Boilerplate</title>

		<!-- Load CSS libraries -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


		<!-- GOOGLE FONTS -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,400italic,300italic' rel='stylesheet' type='text/css'>

		<!-- CSS only bootstrap-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

		<!-- JavaScript Bundle with Popper bootstrap-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

		<!-- Load my stylesheet last -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

	<!-- bootstrap row structure -->
	<div class="container content">
		<div class="row" id="firstrow">
			<h1 id="heading">The Tallest Buildings in the World</h1>
		</div>
		<div class="row" id="secondrow">
			<div class="col">
				<div id="drawarea"></div>
			</div>
			<div class="col">
				<div id="infoarea">
				</div>
			</div>
		</div>
	</div>


	<!-- embedding JS libraries -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

	<!-- d3 -->
	<script src="https://d3js.org/d3.v7.min.js"></script>

	<!-- own js files -->
	<script src="js/main.js"></script>
	</body>
</html>